<header class="site-header">
  <div class="container site-header_wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-header_title" rel="author" href="{{ "/" | relative_url }}">
      {{ site.title | escape }}
    </a>

    <nav class="site-header_nav">
      {% assign current = page.url | downcase | split: '/' %}
      <a 
        class="site-header_page-link {% if page.url == '/' %}site-header_page-link--active{% endif %}" 
        href="{{ '/' | relative_url }}">
          Home
      </a>
      <a 
        class="site-header_page-link {% if current[1] == 'blog' %}site-header_page-link--active{% endif %}" 
        href="{{ '/blog/' | relative_url }}">
          Blog
      </a>
      <a 
        class="site-header_page-link {% if current[1] == 'projects' %}site-header_page-link--active{% endif %}" 
        href="{{ '/projects/' | relative_url }}">
          Projects
      </a>
      <a 
        class="site-header_page-link {% if current[1] == 'about' %}site-header_page-link--active{% endif %}" 
        href="{{ '/about/' | relative_url }}">
          About
      </a>
    </nav>
  </div>
</header>
