<style>
  .paginator-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0 1rem;
    max-width: 800px;
    color: var(--text) !important;
  }

  .paginator-wrapper a {
    opacity: 0.9;
    color: var(--text) !important;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
  }
</style>

<div class="paginator-wrapper">
  {%- if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | relative_url }}"><~ Previous</a>
  {% else %}
  <div></div>
  {%- endif -%} 
  {%- if paginator.next_page %}
  <a href="{{ paginator.next_page_path | relative_url }}">Next ~></a>
  {%- endif -%}
</div>
