.site-header {
  text-align: start;
  padding: 16px 0;

  &_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    margin-top: 20px;
  }

  a {
    text-decoration: none;
    color: var(--text);
  }

  &_page-link {
    font-weight: 400;
    opacity: 0.9;

    &:hover {
      text-decoration: underline !important;
    }

    &--active {
      color: var(--accent) !important;
      opacity: 1;
    }
  }

  &_title {
    font-weight: 500;

    &:hover {
      text-decoration: underline !important;
    }
  }
}
