---
layout: default
permalink: /about/
title: About Me
---

<style>
  h5 {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .label {
    display: inline-block;
    min-width: 6.4rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .margin-bottom {
    display: block;
    margin-bottom: 8px;
  }

  .desc {
    opacity: 0.8;
    display: block;
  }

  time {
    margin-top: 1px;
    padding-bottom: 4px;
    font-size: 0.8rem;
    opacity: 0.6;
  }

  .technical {
    min-width: 9rem;
  }
</style>

<h2>About / Resume</h2>

<p>
  {{ site.data.about.intro }}
</p>

<details>
  <summary>
    <span style="margin-left: 0.4rem"> My Coding Journey in a Nutshell </span>
  </summary>
  <p>
    I started exploring programming back in 2011 during my first year at university. I was into coding for three years
    but then took a break for five years, mainly using tools like WordPress. In 2019, I decided to code again because I
    wanted to turn my WordPress website into an Android app.
  </p>

  <p style="margin-bottom: 1rem">
    I couldn't find the right open-source project, so I had no choice but to get back into coding. Flutter was popular
    at that time, so I began learning it, and I've been using it ever since.
  </p>

  <p style="margin-bottom: 1rem">
    When I shared my projects on social media, people started asking me to create apps for them. That's when I started
    freelancing. I realized that I needed to learn JavaScript, React.js for web development, and Node.js for backend
    development to expand my skill set.
  </p>

  <p style="margin-bottom: 1rem">
    I'm passionate about learning and staying updated with industry trends. Through my projects, I've developed
    problem-solving, communication, and teamwork skills. I'm excited about the future and eager to work on exciting
    projects.
  </p>
</details>

{% include social-links.html %}

<section style="margin-top: 12px;">
  <h5>KEY SKILLS</h5>

  <ul>
    {% for skill in site.data.about.skills.key_skills %}
    <li>
      <span class="label">{{ skill.label }}</span>
      <span class="desc margin-bottom">{{ skill.items }}</span>
    </li>
    {% endfor %}
  </ul>

  <h5>TECHNICAL SKILLS</h5>

  <ul>
    {% for skill in site.data.about.skills.technical_skills %}
    <li>
      <span class="label technical">{{ skill.label }}</span>
      <span class="desc margin-bottom">{{ skill.items }}</span>
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h5>WORK EXPERIENCE</h5>

  <ul>
    {% for exp in site.data.about.experience %}
    <li>
      <span class="label">{{ exp.title }}</span>
      <span class="desc">{{ exp.desc }}</span>
      <time class="margin-bottom">{{ exp.date }}</time>
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h5>EDUCATION</h5>
  <ul>
    {% for edu in site.data.about.education %}
    <li>
      <span class="label">{{ edu.title }}</span>
      <span class="desc">{{ edu.desc }}</span>
      <time class="margin-bottom">{{ edu.date }}</time>
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h5>Certifications</h5>

  <ul>
    {% for cert in site.data.about.certifications %}
    <li>
      <a class="label" href="{{ cert.link }}" target="_blank">{{ cert.title }} &#8599;</a>
      <span class="desc">{{ cert.desc }}</span>
      <time class="margin-bottom">{{ cert.date }}</time>
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h5>Languages</h5>

  <ul>
    {% for lang in site.data.about.languages %}
    <li>
      <span class="label">{{ lang.label }}</span>
      <span class="desc margin-bottom">{{ lang.level }}</span>
    </li>
    {% endfor %}
</section>

<section>
  <h5>CONTACT</h5>

  <ul class="contact-list">
    {% for contact in site.data.about.contact %}
    <li>
      <span class="label">{{ contact.label }}</span>
      <a href="{{ contact.link }}" target="_blank" rel="noopener noreferrer">
        {{ contact.link_label }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <blockquote>
    Feel free to contact me if you have any questions or suggestions.
  </blockquote>
</section>
